<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="AmiraApiHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\InventAPI\ApiVenv\Scripts\python.exe|E:\InventAPI\ApiVenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
       <add key="WSGI_HANDLER" value="inventapi.app" />
       <add key="PYTHONPATH" value="E:\InventAPI" />
    </appSettings>
</configuration>
